In [133]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [134]:
df = pd.read_csv('dataframe_20k_290623.csv').drop(columns=['Unnamed: 0'])

In [135]:
df.head()

,locality,type of property,subtype of property,price,number_rooms,living_area,kitchen,furnished,fireplace,terrace,terrace_area,garden,garden_area,surface_land,number_facades,swimming_pool,building_state
0,Ham,HOUSE,VILLA,429500.0,4.0,215.0,INSTALLED,NaN,-1.0,NaN,NaN,True,NaN,1472,4,NaN,GOOD
1,Putte,HOUSE,HOUSE,599000.0,5.0,167.0,INSTALLED,NaN,-1.0,True,NaN,True,95.0,416,4,NaN,JUST_RENOVATED
2,IVOZ-RAMET,HOUSE,HOUSE,20000.0,3.0,130.0,INSTALLED,NaN,-1.0,True,NaN,NaN,NaN,182,3,NaN,GOOD
3,Herstal,HOUSE,HOUSE,45000.0,2.0,120.0,USA_INSTALLED,True,NaN,True,12.0,True,80.0,221,2,False,TO_BE_DONE_UP
4,Liege,HOUSE,HOUSE,109000.0,2.0,62.0,SEMI_EQUIPPED,False,NaN,NaN,NaN,NaN,NaN,45,2,False,TO_BE_DONE_UP

In [136]:
df.rename(columns = {'type of property':'property_type', 'subtype of property':'property_subtype'}, inplace = True)
df.head()

,locality,property_type,property_subtype,price,number_rooms,living_area,kitchen,furnished,fireplace,terrace,terrace_area,garden,garden_area,surface_land,number_facades,swimming_pool,building_state
0,Ham,HOUSE,VILLA,429500.0,4.0,215.0,INSTALLED,NaN,-1.0,NaN,NaN,True,NaN,1472,4,NaN,GOOD
1,Putte,HOUSE,HOUSE,599000.0,5.0,167.0,INSTALLED,NaN,-1.0,True,NaN,True,95.0,416,4,NaN,JUST_RENOVATED
2,IVOZ-RAMET,HOUSE,HOUSE,20000.0,3.0,130.0,INSTALLED,NaN,-1.0,True,NaN,NaN,NaN,182,3,NaN,GOOD
3,Herstal,HOUSE,HOUSE,45000.0,2.0,120.0,USA_INSTALLED,True,NaN,True,12.0,True,80.0,221,2,False,TO_BE_DONE_UP
4,Liege,HOUSE,HOUSE,109000.0,2.0,62.0,SEMI_EQUIPPED,False,NaN,NaN,NaN,NaN,NaN,45,2,False,TO_BE_DONE_UP

In [137]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19980 entries, 0 to 19979
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   locality          19974 non-null  object
 1   property_type     19974 non-null  object
 2   property_subtype  19974 non-null  object
 3   price             19499 non-null  float64
 4   number_rooms      19499 non-null  float64
 5   living_area       18445 non-null  float64
 6   kitchen           18077 non-null  object
 7   furnished         9815 non-null   object
 8   fireplace         6176 non-null   float64
 9   terrace           12887 non-null  object
 10  terrace_area      7391 non-null   float64
 11  garden            9078 non-null   object
 12  garden_area       5916 non-null   float64
 13  surface_land      18209 non-null  object
 14  number_facades    16438 non-null  object
 15  swimming_pool     10256 non-null  object
 16  building_state    16589 non-null  object
dtypes: float64(6), object(11)
memory usage: 2.6+ MB

In [138]:
df.drop_duplicates()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19980 entries, 0 to 19979
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   locality          19974 non-null  object
 1   property_type     19974 non-null  object
 2   property_subtype  19974 non-null  object
 3   price             19499 non-null  float64
 4   number_rooms      19499 non-null  float64
 5   living_area       18445 non-null  float64
 6   kitchen           18077 non-null  object
 7   furnished         9815 non-null   object
 8   fireplace         6176 non-null   float64
 9   terrace           12887 non-null  object
 10  terrace_area      7391 non-null   float64
 11  garden            9078 non-null   object
 12  garden_area       5916 non-null   float64
 13  surface_land      18209 non-null  object
 14  number_facades    16438 non-null  object
 15  swimming_pool     10256 non-null  object
 16  building_state    16589 non-null  object
dtypes: float64(6), object(11)
memory usage: 2.6+ MB

In [139]:
def analyze_column(df, column_name):
    column = df[column_name]
    num_nan = column.isnull().sum()
    num_unique = column.nunique()
    unique_values = column.unique()
    percentage_nan = (num_nan / len(column)) * 100
    percentage_unique = (num_unique / len(column)) * 100
    print(f"Analysis for column '{column_name}':")
    print(f"Number of NaN values: {num_nan}")
    print(f"Number of unique values: {num_unique}")
    print(f"Percentage of NaN values: {percentage_nan:.2f}%")
    print(f"Percentage of unique values: {percentage_unique:.2f}%")
    print(f"Unique values: {unique_values}")

In [140]:
def create_cat_plot(df,column, angle):
    sns.barplot(x=column, y="price", data=df)
    # Set labels and title
    plt.xlabel(f"{column}")
    plt.ylabel("Price (in euro)")
    plt.title(f"{column} vs. Price")
    plt.xticks(rotation=angle)
    # Show the plot
    plt.show()

In [141]:
def create_num_plot(df, column):
    sns.lineplot(x=column, y='price', data=df)
    plt.xlabel(f"{column}")
    plt.ylabel("Price (in euro)")
    plt.title(f"{column} vs. Price")
    # Show the plot
    plt.show()

In [142]:
df = df.dropna(how='all')

In [143]:
df

,locality,property_type,property_subtype,price,number_rooms,living_area,kitchen,furnished,fireplace,terrace,terrace_area,garden,garden_area,surface_land,number_facades,swimming_pool,building_state
0,Ham,HOUSE,VILLA,429500.0,4.0,215.0,INSTALLED,NaN,-1.0,NaN,NaN,True,NaN,1472,4,NaN,GOOD
1,Putte,HOUSE,HOUSE,599000.0,5.0,167.0,INSTALLED,NaN,-1.0,True,NaN,True,95.0,416,4,NaN,JUST_RENOVATED
2,IVOZ-RAMET,HOUSE,HOUSE,20000.0,3.0,130.0,INSTALLED,NaN,-1.0,True,NaN,NaN,NaN,182,3,NaN,GOOD
3,Herstal,HOUSE,HOUSE,45000.0,2.0,120.0,USA_INSTALLED,True,NaN,True,12.0,True,80.0,221,2,False,TO_BE_DONE_UP
4,Liege,HOUSE,HOUSE,109000.0,2.0,62.0,SEMI_EQUIPPED,False,NaN,NaN,NaN,NaN,NaN,45,2,False,TO_BE_DONE_UP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19975,Brecht,HOUSE,HOUSE,375000.0,3.0,NaN,INSTALLED,False,NaN,NaN,NaN,True,245.0,712,4,False,GOOD
19976,Hasselt,APARTMENT,APARTMENT,1295000.0,3.0,191.0,0,NaN,NaN,NaN,NaN,NaN,NaN,UNKNOWN,NaN,NaN,GOOD
19977,Temse,HOUSE,HOUSE,549000.0,5.0,324.0,NaN,NaN,NaN,True,30.0,True,290.0,427,3,NaN,GOOD
19978,Affligem,HOUSE,HOUSE,485000.0,4.0,265.0,0,NaN,NaN,NaN,NaN,NaN,NaN,228,3,False,GOOD
19979,Antwerp,APARTMENT,APARTMENT,299000.0,1.0,60.0,HYPER_EQUIPPED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN

### 0. PRICE

In [144]:
# If we dont have a price - Delete the rows - not useable to predict pricing!

In [145]:
# This will be what we will need to predict
df['price'].info()
df.price.info()

<class 'pandas.core.series.Series'>
Index: 19974 entries, 0 to 19979
Series name: price
Non-Null Count  Dtype
--------------  -----
19499 non-null  float64
dtypes: float64(1)
memory usage: 312.1 KB
<class 'pandas.core.series.Series'>
Index: 19974 entries, 0 to 19979
Series name: price
Non-Null Count  Dtype
--------------  -----
19499 non-null  float64
dtypes: float64(1)
memory usage: 312.1 KB

In [146]:
# We have 475 rows with NaN as price - 2.38% of the total
analyze_column(df, 'price')

Analysis for column 'price':
Number of NaN values: 475
Number of unique values: 1624
Percentage of NaN values: 2.38%
Percentage of unique values: 8.13%
Unique values: [429500. 599000.  20000. ... 381500. 351000. 176000.]

In [147]:
df[df['price'].isna()]
# Most values are not Filled in (NaN) so I decide to drop all of these 475 rows

,locality,property_type,property_subtype,price,number_rooms,living_area,kitchen,furnished,fireplace,terrace,terrace_area,garden,garden_area,surface_land,number_facades,swimming_pool,building_state
47,Roeselare,APARTMENT_GROUP,APARTMENT_GROUP,NaN,NaN,NaN,0,False,NaN,NaN,NaN,NaN,NaN,UNKNOWN,UNKNOWN,NaN,UNKNOWN
90,Evere,APARTMENT_GROUP,APARTMENT_GROUP,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,UNKNOWN,UNKNOWN,NaN,UNKNOWN
181,Balen,HOUSE_GROUP,HOUSE_GROUP,NaN,NaN,NaN,0,False,NaN,NaN,NaN,NaN,NaN,UNKNOWN,UNKNOWN,NaN,UNKNOWN
182,HERSELT,HOUSE_GROUP,HOUSE_GROUP,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,UNKNOWN,UNKNOWN,NaN,UNKNOWN
183,WITGOOR,HOUSE_GROUP,HOUSE_GROUP,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,UNKNOWN,UNKNOWN,NaN,UNKNOWN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18901,Mons,HOUSE_GROUP,HOUSE_GROUP,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,UNKNOWN,UNKNOWN,NaN,UNKNOWN
19186,Borgloon,HOUSE_GROUP,HOUSE_GROUP,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,UNKNOWN,UNKNOWN,NaN,UNKNOWN
19537,Borgloon,APARTMENT_GROUP,APARTMENT_GROUP,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,UNKNOWN,UNKNOWN,NaN,UNKNOWN
19718,Dessel,HOUSE_GROUP,HOUSE_GROUP,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,UNKNOWN,UNKNOWN,NaN,UNKNOWN
19726,Waregem,APARTMENT_GROUP,APARTMENT_GROUP,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,UNKNOWN,UNKNOWN,NaN,UNKNOWN

In [148]:
df = df.dropna(subset=['price'])

In [149]:
df[df['price'].isna()]
# ALL NaN Values are dropped

Empty DataFrame
Columns: [locality, property_type, property_subtype, price, number_rooms, living_area, kitchen, furnished, fireplace, terrace, terrace_area, garden, garden_area, surface_land, number_facades, swimming_pool, building_state]
Index: []

In [150]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19499 entries, 0 to 19979
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   locality          19499 non-null  object
 1   property_type     19499 non-null  object
 2   property_subtype  19499 non-null  object
 3   price             19499 non-null  float64
 4   number_rooms      19499 non-null  float64
 5   living_area       18445 non-null  float64
 6   kitchen           17602 non-null  object
 7   furnished         9756 non-null   object
 8   fireplace         6176 non-null   float64
 9   terrace           12887 non-null  object
 10  terrace_area      7391 non-null   float64
 11  garden            9078 non-null   object
 12  garden_area       5916 non-null   float64
 13  surface_land      17734 non-null  object
 14  number_facades    15963 non-null  object
 15  swimming_pool     10256 non-null  object
 16  building_state    16114 non-null  object
dtypes: float64(6), object(11)
memory usage: 2.7+ MB

In [151]:
# Resetting index to have nice looking dataframe
df.reset_index(inplace=True, drop=True)

In [152]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19499 entries, 0 to 19498
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   locality          19499 non-null  object
 1   property_type     19499 non-null  object
 2   property_subtype  19499 non-null  object
 3   price             19499 non-null  float64
 4   number_rooms      19499 non-null  float64
 5   living_area       18445 non-null  float64
 6   kitchen           17602 non-null  object
 7   furnished         9756 non-null   object
 8   fireplace         6176 non-null   float64
 9   terrace           12887 non-null  object
 10  terrace_area      7391 non-null   float64
 11  garden            9078 non-null   object
 12  garden_area       5916 non-null   float64
 13  surface_land      17734 non-null  object
 14  number_facades    15963 non-null  object
 15  swimming_pool     10256 non-null  object
 16  building_state    16114 non-null  object
dtypes: float64(6), object(11)
memory usage: 2.5+ MB

In [153]:
df['price'] = pd.to_numeric(df['price'])
df_price_outlyers = df[df['price'] <= 1350000]
sns.histplot(df_price_outlyers, x='price')
# to have a normalized distribution we should take up to 1.350.000 euros

### 1. LOCALITY

In [154]:
# LOOK TO MAKE THIS A GEO COORDINATION
analyze_column(df, 'locality')

Analysis for column 'locality':
Number of NaN values: 0
Number of unique values: 2589
Percentage of NaN values: 0.00%
Percentage of unique values: 13.28%
Unique values: ['Ham' 'Putte' 'IVOZ-RAMET' ... 'Louveigné' 'GrÃce-Hollogne' 'Schoonaarde']

In [155]:
df['locality'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 19499 entries, 0 to 19498
Series name: locality
Non-Null Count  Dtype
--------------  -----
19499 non-null  object
dtypes: object(1)
memory usage: 152.5+ KB

### 2. Property Type

In [156]:
analyze_column(df, 'property_type')

Analysis for column 'property_type':
Number of NaN values: 0
Number of unique values: 2
Percentage of NaN values: 0.00%
Percentage of unique values: 0.01%
Unique values: ['HOUSE' 'APARTMENT']

In [157]:
# LOOKS OK, NO NAN Values
df['property_type'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 19499 entries, 0 to 19498
Series name: property_type
Non-Null Count  Dtype
--------------  -----
19499 non-null  object
dtypes: object(1)
memory usage: 152.5+ KB

In [158]:
create_cat_plot(df, 'property_type', 0)

### 3. Property Subtype

In [159]:
analyze_column(df, 'property_subtype')

Analysis for column 'property_subtype':
Number of NaN values: 0
Number of unique values: 23
Percentage of NaN values: 0.00%
Percentage of unique values: 0.12%
Unique values: ['VILLA' 'HOUSE' 'APARTMENT_BLOCK' 'CHALET' 'COUNTRY_COTTAGE' 'APARTMENT'
 'FLAT_STUDIO' 'MIXED_USE_BUILDING' 'EXCEPTIONAL_PROPERTY' 'TOWN_HOUSE'
 'PENTHOUSE' 'DUPLEX' 'GROUND_FLOOR' 'MANSION' 'BUNGALOW' 'OTHER_PROPERTY'
 'CASTLE' 'SERVICE_FLAT' 'LOFT' 'KOT' 'TRIPLEX' 'FARMHOUSE' 'MANOR_HOUSE']

In [160]:
df['property_subtype'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 19499 entries, 0 to 19498
Series name: property_subtype
Non-Null Count  Dtype
--------------  -----
19499 non-null  object
dtypes: object(1)
memory usage: 152.5+ KB

In [161]:
df_sorted = df.sort_values(by='price', ascending=True)
create_cat_plot(df_sorted, 'property_subtype', 90)

In [162]:
sns.histplot(df, x='property_subtype')
plt.xticks(rotation=90)

(array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
        17, 18, 19, 20, 21, 22]),
 [Text(0, 0, 'HOUSE'),
  Text(1, 0, 'VILLA'),
  Text(2, 0, 'BUNGALOW'),
  Text(3, 0, 'CHALET'),
  Text(4, 0, 'APARTMENT'),
  Text(5, 0, 'FLAT_STUDIO'),
  Text(6, 0, 'APARTMENT_BLOCK'),
  Text(7, 0, 'MIXED_USE_BUILDING'),
  Text(8, 0, 'GROUND_FLOOR'),
  Text(9, 0, 'TOWN_HOUSE'),
  Text(10, 0, 'MANOR_HOUSE'),
  Text(11, 0, 'COUNTRY_COTTAGE'),
  Text(12, 0, 'DUPLEX'),
  Text(13, 0, 'PENTHOUSE'),
  Text(14, 0, 'OTHER_PROPERTY'),
  Text(15, 0, 'KOT'),
  Text(16, 0, 'FARMHOUSE'),
  Text(17, 0, 'LOFT'),
  Text(18, 0, 'SERVICE_FLAT'),
  Text(19, 0, 'MANSION'),
  Text(20, 0, 'TRIPLEX'),
  Text(21, 0, 'EXCEPTIONAL_PROPERTY'),
  Text(22, 0, 'CASTLE')])

### 4. Number of Rooms

In [163]:
analyze_column(df, 'number_rooms')

Analysis for column 'number_rooms':
Number of NaN values: 0
Number of unique values: 29
Percentage of NaN values: 0.00%
Percentage of unique values: 0.15%
Unique values: [ 4.  5.  3.  2.  1.  0.  6.  7. 25. 17. 10. 12.  8.  9. 11. 27. 14. 21.
 13. 16. 30. 15. 18. 46. 24. 19. 22. 60. 20.]

In [164]:
df['number_rooms'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 19499 entries, 0 to 19498
Series name: number_rooms
Non-Null Count  Dtype
--------------  -----
19499 non-null  float64
dtypes: float64(1)
memory usage: 152.5 KB

In [165]:
create_num_plot(df, 'number_rooms')

In [166]:
df_num_rooms = df[df['number_rooms'] <= 20]

sns.histplot(df_num_rooms, x='number_rooms', bins = 10)
# Good metric would be to use num_rooms up to 20

### 5. Living Area

In [167]:
analyze_column(df, 'living_area')

Analysis for column 'living_area':
Number of NaN values: 1054
Number of unique values: 725
Percentage of NaN values: 5.41%
Percentage of unique values: 3.72%
Unique values: [2.1500e+02 1.6700e+02 1.3000e+02 1.2000e+02 6.2000e+01 8.0000e+01
 1.7500e+02 9.0000e+01 4.4000e+01 1.4000e+02 1.0800e+02 6.6000e+01
 1.4600e+02 1.3500e+02 1.1000e+02 1.6400e+02 1.6800e+02 1.2500e+02
 2.1600e+02 1.6000e+02 1.0000e+02 8.1000e+01 1.8000e+02 1.8100e+02
 9.4000e+01 1.7100e+02 1.2200e+02 1.0400e+02 2.2900e+02 5.2600e+02
 1.0500e+02 9.5000e+01 2.5400e+02 1.6600e+02 3.7500e+02        nan
 2.2000e+02 1.4800e+02 8.5000e+01 9.9000e+01 2.4000e+02 3.6000e+01
 1.0600e+02 7.2000e+01 8.7000e+01 8.9000e+01 1.0300e+02 1.4500e+02
 2.5800e+02 2.5000e+02 3.2000e+02 2.5100e+02 2.1000e+02 2.8600e+02
 1.9000e+02 2.0000e+02 1.5500e+02 4.0500e+02 1.8800e+02 2.5300e+02
 2.7000e+02 7.6000e+01 1.0200e+02 2.2000e+01 3.9200e+02 1.3400e+02
 8.4000e+01 3.8800e+02 6.0000e+01 3.1100e+02 1.6100e+02 9.1000e+01
 5.7000e+01 1.8500e+02 1.8600e+02 1.8700e+02 1.1700e+02 1.5200e+02
 5.4000e+01 1.4700e+02 1.3900e+02 3.4500e+02 7.0000e+01 2.9100e+02
 1.1800e+02 2.1200e+02 2.0500e+02 4.7600e+02 2.3000e+02 3.4100e+02
 1.7900e+02 2.6000e+02 1.7600e+02 1.1600e+02 2.8100e+02 4.0700e+02
 1.7000e+02 2.3200e+02 2.0300e+02 1.5100e+02 3.9600e+02 2.8000e+01
 7.5000e+01 2.3400e+02 2.3900e+02 1.0700e+02 3.6000e+02 3.0000e+02
 1.8200e+02 9.8000e+01 1.0900e+02 1.9300e+02 2.0900e+02 1.5400e+02
 1.4400e+02 2.2200e+02 1.7400e+02 1.5700e+02 1.3600e+02 2.4600e+02
 1.5000e+02 1.9500e+02 1.6500e+02 1.1500e+02 3.3800e+02 6.2300e+02
 2.8400e+02 2.0200e+02 4.1500e+02 4.3000e+01 1.2600e+02 4.2000e+02
 2.2500e+02 1.8400e+02 7.8000e+01 6.5000e+01 5.0000e+01 6.7000e+01
 1.5800e+02 6.5000e+02 3.3300e+02 1.1200e+03 7.2900e+02 1.0160e+03
 8.3000e+01 5.1400e+02 2.0600e+02 3.5000e+02 3.2400e+02 7.5000e+02
 2.5200e+02 2.7200e+02 2.4500e+02 2.0700e+02 2.0800e+02 2.1300e+02
 2.9800e+02 1.7300e+02 1.3200e+02 1.7800e+02 1.3700e+02 1.8900e+02
 2.4200e+02 2.5500e+02 2.1900e+02 1.9900e+02 3.2600e+02 1.5900e+02
 2.6500e+02 4.4300e+02 1.1200e+02 1.9600e+02 1.4100e+02 4.5000e+01
 4.3500e+02 1.7200e+02 1.2800e+02 1.7700e+02 1.4300e+02 2.8500e+02
 6.8800e+02 1.1900e+02 1.2100e+02 4.3800e+02 4.6300e+02 1.5600e+02
 2.9300e+02 1.5300e+02 3.3600e+02 3.6500e+02 3.4600e+02 3.7000e+02
 1.2640e+03 3.5500e+02 2.8200e+02 3.3500e+02 2.7900e+02 2.9000e+02
 3.0400e+02 5.0000e+02 2.4900e+02 3.0900e+02 4.5000e+02 5.4000e+02
 5.3500e+02 5.7700e+02 1.8300e+02 2.0400e+02 2.2600e+02 2.0100e+02
 2.6700e+02 7.1000e+01 6.4000e+01 9.6000e+01 2.3700e+02 2.7400e+02
 2.7100e+02 1.4200e+02 3.0200e+02 1.6900e+02 2.3800e+02 6.7000e+02
 1.9100e+02 4.1800e+02 1.6300e+02 1.2700e+02 1.9400e+02 3.3000e+02
 4.3900e+02 2.2100e+02 2.3300e+02 2.3100e+02 8.2000e+01 1.3100e+02
 1.4900e+02 2.7000e+01 2.2300e+02 2.7600e+02 1.6200e+02 3.4800e+02
 2.3500e+02 6.3400e+02 1.2300e+02 1.3500e+03 2.7300e+02 9.3000e+01
 2.4700e+02 2.1700e+02 4.2600e+02 8.8000e+01 1.1300e+02 6.3000e+01
 3.0100e+02 1.1400e+02 3.1000e+02 1.2400e+02 2.1400e+02 4.6000e+02
 1.0770e+03 2.8000e+02 2.2800e+02 8.6000e+01 2.3600e+02 1.5000e+01
 7.9000e+01 3.3900e+02 2.4800e+02 2.1100e+02 4.5200e+02 2.8700e+02
 3.0600e+02 2.4400e+02 4.8800e+02 1.3300e+02 1.3800e+02 1.9200e+02
 1.0100e+02 2.6800e+02 2.1800e+02 4.9000e+02 4.2300e+02 6.1000e+01
 2.9700e+02 4.4500e+02 3.8200e+02 4.9000e+01 4.3700e+02 3.4400e+02
 5.8000e+01 6.8000e+01 7.0000e+02 6.0000e+02 2.7500e+02 2.2700e+02
 7.3000e+01 1.1100e+02 3.1500e+02 4.0400e+02 4.1400e+02 4.4800e+02
 3.8500e+02 3.4000e+01 9.7000e+01 5.0600e+02 3.8000e+02 6.8900e+02
 4.8300e+02 5.0100e+02 1.1730e+03 5.5000e+02 3.0500e+02 2.6600e+02
 4.8000e+02 4.6900e+02 2.9200e+02 3.8000e+01 7.4000e+01 2.8800e+02
 3.7800e+02 2.9500e+02 1.9800e+02 4.5100e+02 3.8100e+02 1.9700e+02
 6.4200e+02 3.3100e+02 2.6200e+02 2.7800e+02 1.2900e+02 2.5900e+02
 5.5000e+01 3.1900e+02 4.0000e+01 1.6000e+01 7.7000e+01 2.4300e+02
 5.2900e+02 2.4100e+02 4.8500e+02 6.1000e+02 3.6100e+02 2.2400e+02
 5.2300e+02 5.0200e+02 4.1000e+01 9.2000e+01 3.7700e+02 8.0000e+02
 2.5700e+02 3.6600e+02 3.2800e+02 3.8700e+02 1.5000e+03 3.6900e+02
 2.9000e+01 3.2000e+01 3.1700e+02 5.1300e+02 4.0000e+02 3.1400e+02
 2.9900e+02 5.0500e+02 4.4000e+02 8.2500e+02 4.7000e+01 2.8300e+02
 2.8900e+02 3.3400e+02 4.3300e+02 4.6000e+01 3.4200e+02 6.9000e+01
 1.1370e+03 8.5000e+02 3.6300e+02 3.8400e+02 7.2000e+02 7.8200e+02
 5.1500e+02 1.1910e+03 6.1700e+02 3.2200e+02 3.1300e+02 5.6600e+02
 2.6300e+02 2.6100e+02 2.6400e+02 3.4700e+02 4.3000e+02 3.2700e+02
 4.2000e+01 2.6900e+02 5.2500e+02 5.3000e+01 3.4000e+02 2.9400e+02
 1.0210e+03 3.0700e+02 3.5400e+02 4.4900e+02 4.5500e+02 4.2500e+02
 3.9400e+02 3.2500e+02 3.5800e+02 7.7500e+02 4.4700e+02 5.8800e+02
 4.9500e+02 4.2400e+02 4.9900e+02 3.7200e+02 4.6800e+02 5.7000e+02
 3.4300e+02 3.5300e+02 4.9700e+02 3.9000e+02 2.9600e+02 4.2200e+02
 5.3400e+02 3.9800e+02 3.1600e+02 6.7100e+02 5.3800e+02 4.4400e+02
 3.4900e+02 3.2100e+02 2.5600e+02 4.1900e+02 9.5000e+02 1.0440e+03
 9.0000e+02 2.0000e+01 2.1000e+01 3.3000e+01 3.7000e+01 6.9300e+02
 7.1000e+02 5.9000e+01 3.9700e+02 5.6800e+02 3.1200e+02 3.8300e+02
 4.6400e+02 5.2000e+02 7.1900e+02 5.2400e+02 5.4800e+02 3.7100e+02
 6.3500e+02 4.6500e+02 3.5600e+02 5.6700e+02 3.5000e+01 3.9500e+02
 4.8000e+01 5.1000e+01 5.1900e+02 5.0900e+02 6.0800e+02 7.6400e+02
 2.7700e+02 4.7500e+02 5.6000e+02 3.9900e+02 5.0700e+02 4.7000e+02
 3.5200e+02 3.7300e+02 2.5000e+01 3.6700e+02 3.3200e+02 4.9200e+02
 7.4500e+02 6.1400e+02 5.7100e+02 3.7900e+02 4.6200e+02 4.5600e+02
 5.5200e+02 4.5900e+02 3.7400e+02 3.6400e+02 6.6900e+02 4.1700e+02
 4.2100e+02 3.8900e+02 8.7900e+02 9.4200e+02 5.2000e+01 4.2800e+02
 3.1000e+01 1.0050e+03 4.1200e+02 6.0300e+02 4.6700e+02 4.0300e+02
 7.5800e+02 6.1300e+02 5.8000e+02 3.5340e+03 6.9100e+02 1.0000e+03
 4.0200e+02 3.0300e+02 6.4900e+02 6.5400e+02 3.8600e+02 9.4600e+02
 3.1800e+02 3.2300e+02 7.1500e+02 3.5100e+02 5.3000e+02 4.0100e+02
 5.1000e+02 5.6500e+02 5.5700e+02 1.1000e+03 9.5700e+02 1.0530e+03
 5.9000e+02 5.3900e+02 3.9300e+02 6.3000e+02 2.4000e+01 7.8300e+02
 4.7400e+02 6.4000e+02 6.8000e+02 3.5900e+02 4.1000e+02 4.5800e+02
 4.3600e+02 9.0800e+02 4.5400e+02 8.1100e+02 5.8900e+02 7.3700e+02
 8.8400e+02 1.4000e+01 5.9400e+02 5.1100e+02 3.0800e+02 5.8200e+02
 3.9100e+02 1.1070e+03 7.0600e+02 1.1900e+03 1.1650e+03 7.8000e+02
 7.6300e+02 5.4900e+02 1.0380e+03 5.1600e+02 6.9600e+02 6.3600e+02
 5.3300e+02 6.7500e+02 4.2900e+02 8.5600e+02 6.6000e+02 7.2800e+02
 6.9000e+02 6.8400e+02 3.6800e+02 5.7500e+02 3.2900e+02 7.3900e+02
 4.0800e+02 5.4200e+02 5.4700e+02 6.8500e+02 3.9000e+01 5.4300e+02
 4.8600e+02 8.1900e+02 2.3000e+01 8.9000e+02 6.1100e+02 4.8200e+02
 4.1300e+02 5.6000e+01 4.1600e+02 6.6300e+02 4.3400e+02 4.3100e+02
 1.2250e+03 9.7500e+02 5.3600e+02 3.3700e+02 7.0300e+02 8.8600e+02
 8.8700e+02 5.9500e+02 4.7800e+02 4.2700e+02 7.0800e+02 4.4200e+02
 5.4400e+02 6.4700e+02 7.2400e+02 5.6300e+02 1.2000e+03 1.2900e+03
 5.8500e+02 8.4500e+02 7.3200e+02 8.7970e+03 2.1820e+03 4.5300e+02
 4.1100e+02 4.0900e+02 6.3100e+02 3.0000e+01 5.5600e+02 5.2800e+02
 3.7600e+02 8.3000e+02 5.6100e+02 5.5800e+02 1.0540e+03 9.7000e+02
 1.1300e+03 4.8400e+02 9.9400e+02 8.7200e+02 3.6200e+02 4.8900e+02
 8.2000e+02 4.9600e+02 5.6900e+02 8.6500e+02 5.8300e+02 4.8700e+02
 7.8500e+02 1.4250e+03 6.1600e+02 8.1200e+02 6.0700e+02 5.7200e+02
 5.6200e+02 6.9900e+02 9.6100e+02 9.4500e+02 4.7100e+02 1.2650e+03
 2.6000e+01 8.8500e+02 5.5400e+02 1.7520e+03 1.1000e+04 5.3700e+02
 6.2000e+02 4.7200e+02 5.0800e+02 1.7000e+01 1.1000e+01 1.9550e+03
 9.6000e+02 1.3750e+03 9.4000e+02 1.3420e+03 8.2200e+02 6.2500e+02
 6.2600e+02 6.7600e+02 5.5900e+02 1.6170e+03 8.2400e+02 7.8800e+02
 5.8400e+02 1.1450e+03 5.4500e+02 6.3700e+02 4.3200e+02 7.1700e+02
 4.7300e+02 1.5600e+03 4.4600e+02 1.1520e+03 1.0400e+03 3.5130e+03
 1.9500e+03 6.9500e+02 8.6800e+02 7.1200e+02 9.5900e+02 2.6218e+04
 9.5800e+02 1.4500e+03 7.2500e+02 5.5500e+02 5.7400e+02 6.3200e+02
 7.3000e+02 6.5500e+02 2.0630e+04 5.5300e+02 2.5670e+03 5.5100e+02
 1.2300e+03 5.7300e+02 6.6400e+02 3.5700e+02 6.3800e+02 8.8000e+02
 4.5700e+02 1.3730e+03 7.9100e+02 1.4610e+03 1.1570e+03 8.2300e+02
 1.3130e+03 3.4100e+03 7.3400e+02 7.5900e+02 1.1210e+03 1.1090e+03
 4.0600e+02 9.7400e+02 2.8000e+03 9.8000e+02 8.4800e+02 5.2100e+02]

In [168]:
analyze_column(df, 'living_area')

Analysis for column 'living_area':
Number of NaN values: 1054
Number of unique values: 725
Percentage of NaN values: 5.41%
Percentage of unique values: 3.72%
Unique values: [2.1500e+02 1.6700e+02 1.3000e+02 1.2000e+02 6.2000e+01 8.0000e+01
 1.7500e+02 9.0000e+01 4.4000e+01 1.4000e+02 1.0800e+02 6.6000e+01
 1.4600e+02 1.3500e+02 1.1000e+02 1.6400e+02 1.6800e+02 1.2500e+02
 2.1600e+02 1.6000e+02 1.0000e+02 8.1000e+01 1.8000e+02 1.8100e+02
 9.4000e+01 1.7100e+02 1.2200e+02 1.0400e+02 2.2900e+02 5.2600e+02
 1.0500e+02 9.5000e+01 2.5400e+02 1.6600e+02 3.7500e+02        nan
 2.2000e+02 1.4800e+02 8.5000e+01 9.9000e+01 2.4000e+02 3.6000e+01
 1.0600e+02 7.2000e+01 8.7000e+01 8.9000e+01 1.0300e+02 1.4500e+02
 2.5800e+02 2.5000e+02 3.2000e+02 2.5100e+02 2.1000e+02 2.8600e+02
 1.9000e+02 2.0000e+02 1.5500e+02 4.0500e+02 1.8800e+02 2.5300e+02
 2.7000e+02 7.6000e+01 1.0200e+02 2.2000e+01 3.9200e+02 1.3400e+02
 8.4000e+01 3.8800e+02 6.0000e+01 3.1100e+02 1.6100e+02 9.1000e+01
 5.7000e+01 1.8500e+02 1.8600e+02 1.8700e+02 1.1700e+02 1.5200e+02
 5.4000e+01 1.4700e+02 1.3900e+02 3.4500e+02 7.0000e+01 2.9100e+02
 1.1800e+02 2.1200e+02 2.0500e+02 4.7600e+02 2.3000e+02 3.4100e+02
 1.7900e+02 2.6000e+02 1.7600e+02 1.1600e+02 2.8100e+02 4.0700e+02
 1.7000e+02 2.3200e+02 2.0300e+02 1.5100e+02 3.9600e+02 2.8000e+01
 7.5000e+01 2.3400e+02 2.3900e+02 1.0700e+02 3.6000e+02 3.0000e+02
 1.8200e+02 9.8000e+01 1.0900e+02 1.9300e+02 2.0900e+02 1.5400e+02
 1.4400e+02 2.2200e+02 1.7400e+02 1.5700e+02 1.3600e+02 2.4600e+02
 1.5000e+02 1.9500e+02 1.6500e+02 1.1500e+02 3.3800e+02 6.2300e+02
 2.8400e+02 2.0200e+02 4.1500e+02 4.3000e+01 1.2600e+02 4.2000e+02
 2.2500e+02 1.8400e+02 7.8000e+01 6.5000e+01 5.0000e+01 6.7000e+01
 1.5800e+02 6.5000e+02 3.3300e+02 1.1200e+03 7.2900e+02 1.0160e+03
 8.3000e+01 5.1400e+02 2.0600e+02 3.5000e+02 3.2400e+02 7.5000e+02
 2.5200e+02 2.7200e+02 2.4500e+02 2.0700e+02 2.0800e+02 2.1300e+02
 2.9800e+02 1.7300e+02 1.3200e+02 1.7800e+02 1.3700e+02 1.8900e+02
 2.4200e+02 2.5500e+02 2.1900e+02 1.9900e+02 3.2600e+02 1.5900e+02
 2.6500e+02 4.4300e+02 1.1200e+02 1.9600e+02 1.4100e+02 4.5000e+01
 4.3500e+02 1.7200e+02 1.2800e+02 1.7700e+02 1.4300e+02 2.8500e+02
 6.8800e+02 1.1900e+02 1.2100e+02 4.3800e+02 4.6300e+02 1.5600e+02
 2.9300e+02 1.5300e+02 3.3600e+02 3.6500e+02 3.4600e+02 3.7000e+02
 1.2640e+03 3.5500e+02 2.8200e+02 3.3500e+02 2.7900e+02 2.9000e+02
 3.0400e+02 5.0000e+02 2.4900e+02 3.0900e+02 4.5000e+02 5.4000e+02
 5.3500e+02 5.7700e+02 1.8300e+02 2.0400e+02 2.2600e+02 2.0100e+02
 2.6700e+02 7.1000e+01 6.4000e+01 9.6000e+01 2.3700e+02 2.7400e+02
 2.7100e+02 1.4200e+02 3.0200e+02 1.6900e+02 2.3800e+02 6.7000e+02
 1.9100e+02 4.1800e+02 1.6300e+02 1.2700e+02 1.9400e+02 3.3000e+02
 4.3900e+02 2.2100e+02 2.3300e+02 2.3100e+02 8.2000e+01 1.3100e+02
 1.4900e+02 2.7000e+01 2.2300e+02 2.7600e+02 1.6200e+02 3.4800e+02
 2.3500e+02 6.3400e+02 1.2300e+02 1.3500e+03 2.7300e+02 9.3000e+01
 2.4700e+02 2.1700e+02 4.2600e+02 8.8000e+01 1.1300e+02 6.3000e+01
 3.0100e+02 1.1400e+02 3.1000e+02 1.2400e+02 2.1400e+02 4.6000e+02
 1.0770e+03 2.8000e+02 2.2800e+02 8.6000e+01 2.3600e+02 1.5000e+01
 7.9000e+01 3.3900e+02 2.4800e+02 2.1100e+02 4.5200e+02 2.8700e+02
 3.0600e+02 2.4400e+02 4.8800e+02 1.3300e+02 1.3800e+02 1.9200e+02
 1.0100e+02 2.6800e+02 2.1800e+02 4.9000e+02 4.2300e+02 6.1000e+01
 2.9700e+02 4.4500e+02 3.8200e+02 4.9000e+01 4.3700e+02 3.4400e+02
 5.8000e+01 6.8000e+01 7.0000e+02 6.0000e+02 2.7500e+02 2.2700e+02
 7.3000e+01 1.1100e+02 3.1500e+02 4.0400e+02 4.1400e+02 4.4800e+02
 3.8500e+02 3.4000e+01 9.7000e+01 5.0600e+02 3.8000e+02 6.8900e+02
 4.8300e+02 5.0100e+02 1.1730e+03 5.5000e+02 3.0500e+02 2.6600e+02
 4.8000e+02 4.6900e+02 2.9200e+02 3.8000e+01 7.4000e+01 2.8800e+02
 3.7800e+02 2.9500e+02 1.9800e+02 4.5100e+02 3.8100e+02 1.9700e+02
 6.4200e+02 3.3100e+02 2.6200e+02 2.7800e+02 1.2900e+02 2.5900e+02
 5.5000e+01 3.1900e+02 4.0000e+01 1.6000e+01 7.7000e+01 2.4300e+02
 5.2900e+02 2.4100e+02 4.8500e+02 6.1000e+02 3.6100e+02 2.2400e+02
 5.2300e+02 5.0200e+02 4.1000e+01 9.2000e+01 3.7700e+02 8.0000e+02
 2.5700e+02 3.6600e+02 3.2800e+02 3.8700e+02 1.5000e+03 3.6900e+02
 2.9000e+01 3.2000e+01 3.1700e+02 5.1300e+02 4.0000e+02 3.1400e+02
 2.9900e+02 5.0500e+02 4.4000e+02 8.2500e+02 4.7000e+01 2.8300e+02
 2.8900e+02 3.3400e+02 4.3300e+02 4.6000e+01 3.4200e+02 6.9000e+01
 1.1370e+03 8.5000e+02 3.6300e+02 3.8400e+02 7.2000e+02 7.8200e+02
 5.1500e+02 1.1910e+03 6.1700e+02 3.2200e+02 3.1300e+02 5.6600e+02
 2.6300e+02 2.6100e+02 2.6400e+02 3.4700e+02 4.3000e+02 3.2700e+02
 4.2000e+01 2.6900e+02 5.2500e+02 5.3000e+01 3.4000e+02 2.9400e+02
 1.0210e+03 3.0700e+02 3.5400e+02 4.4900e+02 4.5500e+02 4.2500e+02
 3.9400e+02 3.2500e+02 3.5800e+02 7.7500e+02 4.4700e+02 5.8800e+02
 4.9500e+02 4.2400e+02 4.9900e+02 3.7200e+02 4.6800e+02 5.7000e+02
 3.4300e+02 3.5300e+02 4.9700e+02 3.9000e+02 2.9600e+02 4.2200e+02
 5.3400e+02 3.9800e+02 3.1600e+02 6.7100e+02 5.3800e+02 4.4400e+02
 3.4900e+02 3.2100e+02 2.5600e+02 4.1900e+02 9.5000e+02 1.0440e+03
 9.0000e+02 2.0000e+01 2.1000e+01 3.3000e+01 3.7000e+01 6.9300e+02
 7.1000e+02 5.9000e+01 3.9700e+02 5.6800e+02 3.1200e+02 3.8300e+02
 4.6400e+02 5.2000e+02 7.1900e+02 5.2400e+02 5.4800e+02 3.7100e+02
 6.3500e+02 4.6500e+02 3.5600e+02 5.6700e+02 3.5000e+01 3.9500e+02
 4.8000e+01 5.1000e+01 5.1900e+02 5.0900e+02 6.0800e+02 7.6400e+02
 2.7700e+02 4.7500e+02 5.6000e+02 3.9900e+02 5.0700e+02 4.7000e+02
 3.5200e+02 3.7300e+02 2.5000e+01 3.6700e+02 3.3200e+02 4.9200e+02
 7.4500e+02 6.1400e+02 5.7100e+02 3.7900e+02 4.6200e+02 4.5600e+02
 5.5200e+02 4.5900e+02 3.7400e+02 3.6400e+02 6.6900e+02 4.1700e+02
 4.2100e+02 3.8900e+02 8.7900e+02 9.4200e+02 5.2000e+01 4.2800e+02
 3.1000e+01 1.0050e+03 4.1200e+02 6.0300e+02 4.6700e+02 4.0300e+02
 7.5800e+02 6.1300e+02 5.8000e+02 3.5340e+03 6.9100e+02 1.0000e+03
 4.0200e+02 3.0300e+02 6.4900e+02 6.5400e+02 3.8600e+02 9.4600e+02
 3.1800e+02 3.2300e+02 7.1500e+02 3.5100e+02 5.3000e+02 4.0100e+02
 5.1000e+02 5.6500e+02 5.5700e+02 1.1000e+03 9.5700e+02 1.0530e+03
 5.9000e+02 5.3900e+02 3.9300e+02 6.3000e+02 2.4000e+01 7.8300e+02
 4.7400e+02 6.4000e+02 6.8000e+02 3.5900e+02 4.1000e+02 4.5800e+02
 4.3600e+02 9.0800e+02 4.5400e+02 8.1100e+02 5.8900e+02 7.3700e+02
 8.8400e+02 1.4000e+01 5.9400e+02 5.1100e+02 3.0800e+02 5.8200e+02
 3.9100e+02 1.1070e+03 7.0600e+02 1.1900e+03 1.1650e+03 7.8000e+02
 7.6300e+02 5.4900e+02 1.0380e+03 5.1600e+02 6.9600e+02 6.3600e+02
 5.3300e+02 6.7500e+02 4.2900e+02 8.5600e+02 6.6000e+02 7.2800e+02
 6.9000e+02 6.8400e+02 3.6800e+02 5.7500e+02 3.2900e+02 7.3900e+02
 4.0800e+02 5.4200e+02 5.4700e+02 6.8500e+02 3.9000e+01 5.4300e+02
 4.8600e+02 8.1900e+02 2.3000e+01 8.9000e+02 6.1100e+02 4.8200e+02
 4.1300e+02 5.6000e+01 4.1600e+02 6.6300e+02 4.3400e+02 4.3100e+02
 1.2250e+03 9.7500e+02 5.3600e+02 3.3700e+02 7.0300e+02 8.8600e+02
 8.8700e+02 5.9500e+02 4.7800e+02 4.2700e+02 7.0800e+02 4.4200e+02
 5.4400e+02 6.4700e+02 7.2400e+02 5.6300e+02 1.2000e+03 1.2900e+03
 5.8500e+02 8.4500e+02 7.3200e+02 8.7970e+03 2.1820e+03 4.5300e+02
 4.1100e+02 4.0900e+02 6.3100e+02 3.0000e+01 5.5600e+02 5.2800e+02
 3.7600e+02 8.3000e+02 5.6100e+02 5.5800e+02 1.0540e+03 9.7000e+02
 1.1300e+03 4.8400e+02 9.9400e+02 8.7200e+02 3.6200e+02 4.8900e+02
 8.2000e+02 4.9600e+02 5.6900e+02 8.6500e+02 5.8300e+02 4.8700e+02
 7.8500e+02 1.4250e+03 6.1600e+02 8.1200e+02 6.0700e+02 5.7200e+02
 5.6200e+02 6.9900e+02 9.6100e+02 9.4500e+02 4.7100e+02 1.2650e+03
 2.6000e+01 8.8500e+02 5.5400e+02 1.7520e+03 1.1000e+04 5.3700e+02
 6.2000e+02 4.7200e+02 5.0800e+02 1.7000e+01 1.1000e+01 1.9550e+03
 9.6000e+02 1.3750e+03 9.4000e+02 1.3420e+03 8.2200e+02 6.2500e+02
 6.2600e+02 6.7600e+02 5.5900e+02 1.6170e+03 8.2400e+02 7.8800e+02
 5.8400e+02 1.1450e+03 5.4500e+02 6.3700e+02 4.3200e+02 7.1700e+02
 4.7300e+02 1.5600e+03 4.4600e+02 1.1520e+03 1.0400e+03 3.5130e+03
 1.9500e+03 6.9500e+02 8.6800e+02 7.1200e+02 9.5900e+02 2.6218e+04
 9.5800e+02 1.4500e+03 7.2500e+02 5.5500e+02 5.7400e+02 6.3200e+02
 7.3000e+02 6.5500e+02 2.0630e+04 5.5300e+02 2.5670e+03 5.5100e+02
 1.2300e+03 5.7300e+02 6.6400e+02 3.5700e+02 6.3800e+02 8.8000e+02
 4.5700e+02 1.3730e+03 7.9100e+02 1.4610e+03 1.1570e+03 8.2300e+02
 1.3130e+03 3.4100e+03 7.3400e+02 7.5900e+02 1.1210e+03 1.1090e+03
 4.0600e+02 9.7400e+02 2.8000e+03 9.8000e+02 8.4800e+02 5.2100e+02]

In [169]:
# Theres quite a bit of Nan Values (5.41%)- checking these out 
#(we could backfill the NaN values with the mean of the Living_ area per property_subtype)
df[df['living_area'].isna()]

,locality,property_type,property_subtype,price,number_rooms,living_area,kitchen,furnished,fireplace,terrace,terrace_area,garden,garden_area,surface_land,number_facades,swimming_pool,building_state
43,Maldegem,HOUSE,HOUSE,270000.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,755,NaN,False,TO_RENOVATE
46,Lichtervelde,HOUSE,HOUSE,225000.0,4.0,NaN,0,False,NaN,True,NaN,True,NaN,190,NaN,False,TO_RENOVATE
55,Tisselt,APARTMENT,APARTMENT,185000.0,1.0,NaN,INSTALLED,False,NaN,True,26.0,True,NaN,NaN,2,False,GOOD
91,Brugge,APARTMENT,APARTMENT,273900.0,2.0,NaN,0,NaN,NaN,True,NaN,NaN,NaN,UNKNOWN,UNKNOWN,NaN,UNKNOWN
93,Wetteren,HOUSE,HOUSE,323500.0,4.0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,160,2,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19435,Grivegnée,APARTMENT,APARTMENT,145000.0,1.0,NaN,INSTALLED,NaN,-1.0,True,5.0,NaN,NaN,UNKNOWN,2,NaN,NaN
19438,Beyne-Heusay,HOUSE,EXCEPTIONAL_PROPERTY,745000.0,3.0,NaN,INSTALLED,False,NaN,True,17.0,True,174.0,10566,4,False,GOOD
19480,Waasmunster,HOUSE,HOUSE,549000.0,5.0,NaN,0,NaN,NaN,NaN,NaN,True,NaN,0,NaN,False,AS_NEW
19493,Molenbeek-Saint-Jean,HOUSE,EXCEPTIONAL_PROPERTY,369000.0,5.0,NaN,INSTALLED,False,NaN,NaN,NaN,NaN,NaN,0,2,False,GOOD
19494,Brecht,HOUSE,HOUSE,375000.0,3.0,NaN,INSTALLED,False,NaN,NaN,NaN,True,245.0,712,4,False,GOOD

In [170]:
# backfill the NaN values with the mean of the Living_area per property_subtype
mean_living_area = df.groupby('property_subtype')['living_area'].transform('mean')
#  Transform function is used to calculate the mean living area for each property subtype.
mean_living_area

0        289.694260
1        195.894535
2        195.894535
3        195.894535
4        195.894535
            ...
19494    195.894535
19495     99.713227
19496    195.894535
19497    195.894535
19498     99.713227
Name: living_area, Length: 19499, dtype: float64

In [171]:
mean_living_area = df.groupby('property_subtype')['living_area'].transform('mean')
filled_nan_living_area = df.groupby('property_subtype')['living_area'].fillna(mean_living_area)
df['living_area'] = filled_nan_living_area

In [172]:
df[df['living_area'].isna()]

Empty DataFrame
Columns: [locality, property_type, property_subtype, price, number_rooms, living_area, kitchen, furnished, fireplace, terrace, terrace_area, garden, garden_area, surface_land, number_facades, swimming_pool, building_state]
Index: []

In [173]:
df_living_area = df[df['living_area'] <= 600]
sns.histplot(df_living_area, x='living_area', bins=1000)

### 6. !!! Kitchen

In [174]:
df['kitchen'].unique()

array(['INSTALLED', 'USA_INSTALLED', 'SEMI_EQUIPPED', 'NOT_INSTALLED',
       '0', nan, 'HYPER_EQUIPPED', 'USA_HYPER_EQUIPPED',
       'USA_SEMI_EQUIPPED', 'USA_UNINSTALLED'], dtype=object)

In [175]:
df[df['kitchen'].isna()]
# TODO: We have a lot of NaN values - What to do with these?

,locality,property_type,property_subtype,price,number_rooms,living_area,kitchen,furnished,fireplace,terrace,terrace_area,garden,garden_area,surface_land,number_facades,swimming_pool,building_state
31,Evergem,HOUSE,HOUSE,425000.0,3.0,171.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,826,NaN,False,TO_RENOVATE
32,Brakel,HOUSE,HOUSE,145000.0,3.0,122.000000,NaN,NaN,NaN,NaN,NaN,True,NaN,868,NaN,False,TO_RENOVATE
35,Pentagone (Bruxelles),HOUSE,APARTMENT_BLOCK,1290000.0,5.0,526.000000,NaN,False,NaN,True,16.0,NaN,NaN,105,3,False,NaN
36,Ursel,APARTMENT,APARTMENT,279900.0,2.0,105.000000,NaN,False,NaN,NaN,NaN,NaN,NaN,UNKNOWN,2,False,GOOD
43,Maldegem,HOUSE,HOUSE,270000.0,4.0,195.894535,NaN,NaN,NaN,NaN,NaN,NaN,NaN,755,NaN,False,TO_RENOVATE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19483,Ruiselede,HOUSE,VILLA,645000.0,5.0,320.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1228,NaN,False,NaN
19485,Dendermonde,APARTMENT,APARTMENT,195000.0,2.0,90.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
19490,Antwerp,HOUSE,HOUSE,389000.0,3.0,232.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,74,NaN,False,TO_RENOVATE
19492,Gullegem,HOUSE,HOUSE,139000.0,3.0,126.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,154,2,NaN,TO_BE_DONE_UP
19496,Temse,HOUSE,HOUSE,549000.0,5.0,324.000000,NaN,NaN,NaN,True,30.0,True,290.0,427,3,NaN,GOOD

In [176]:
df[df['kitchen'] == '0']
# need to change this '0' to NOT_DEFINED - NOT CERTAIN but probably when filling out the survey of the listing the operator filled out 0 in a lot of cases
# To not assume it's installed or not installed we will make a new category - NOT_DEFINED
df['kitchen'].replace('0', 'NOT_DEFINED', inplace=True)
df[df['kitchen'] == 'NOT_DEFINED']

,locality,property_type,property_subtype,price,number_rooms,living_area,kitchen,furnished,fireplace,terrace,terrace_area,garden,garden_area,surface_land,number_facades,swimming_pool,building_state
25,Herstal,HOUSE,HOUSE,225000.0,2.0,81.000000,NOT_DEFINED,NaN,-1.0,True,9.0,True,104.0,225,3,NaN,JUST_RENOVATED
30,pilar de la horadada,APARTMENT,APARTMENT,295000.0,3.0,94.000000,NOT_DEFINED,NaN,NaN,True,NaN,NaN,NaN,UNKNOWN,NaN,True,NaN
34,Brugge,HOUSE,HOUSE,335000.0,5.0,229.000000,NOT_DEFINED,False,NaN,True,NaN,NaN,NaN,565,3,False,TO_RENOVATE
38,Lendelede,HOUSE,HOUSE,269000.0,3.0,254.000000,NOT_DEFINED,False,NaN,NaN,NaN,NaN,NaN,333,2,False,GOOD
39,Kortemark,HOUSE,HOUSE,349000.0,3.0,140.000000,NOT_DEFINED,False,NaN,NaN,NaN,NaN,NaN,877,3,False,GOOD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19478,Hillegem,HOUSE,BUNGALOW,340000.0,3.0,133.000000,NOT_DEFINED,NaN,NaN,NaN,NaN,NaN,NaN,5283,NaN,False,AS_NEW
19479,Schoonaarde,HOUSE,HOUSE,650000.0,3.0,195.000000,NOT_DEFINED,False,NaN,NaN,NaN,True,NaN,0,NaN,True,NaN
19480,Waasmunster,HOUSE,HOUSE,549000.0,5.0,195.894535,NOT_DEFINED,NaN,NaN,NaN,NaN,True,NaN,0,NaN,False,AS_NEW
19495,Hasselt,APARTMENT,APARTMENT,1295000.0,3.0,191.000000,NOT_DEFINED,NaN,NaN,NaN,NaN,NaN,NaN,UNKNOWN,NaN,NaN,GOOD
19497,Affligem,HOUSE,HOUSE,485000.0,4.0,265.000000,NOT_DEFINED,NaN,NaN,NaN,NaN,NaN,NaN,228,3,False,GOOD

In [177]:
create_cat_plot(df, 'kitchen', 90)

In [178]:
sns.histplot(df, x='kitchen')
plt.xticks(rotation=90)

(array([0, 1, 2, 3, 4, 5, 6, 7, 8]),
 [Text(0, 0, 'INSTALLED'),
  Text(1, 0, 'USA_INSTALLED'),
  Text(2, 0, 'SEMI_EQUIPPED'),
  Text(3, 0, 'NOT_INSTALLED'),
  Text(4, 0, 'NOT_DEFINED'),
  Text(5, 0, 'HYPER_EQUIPPED'),
  Text(6, 0, 'USA_HYPER_EQUIPPED'),
  Text(7, 0, 'USA_SEMI_EQUIPPED'),
  Text(8, 0, 'USA_UNINSTALLED')])

In [179]:
df['kitchen'].describe()

count         17602
unique            9
top       INSTALLED
freq           6834
Name: kitchen, dtype: object

In [180]:
df[df['kitchen'].isna()]

,locality,property_type,property_subtype,price,number_rooms,living_area,kitchen,furnished,fireplace,terrace,terrace_area,garden,garden_area,surface_land,number_facades,swimming_pool,building_state
31,Evergem,HOUSE,HOUSE,425000.0,3.0,171.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,826,NaN,False,TO_RENOVATE
32,Brakel,HOUSE,HOUSE,145000.0,3.0,122.000000,NaN,NaN,NaN,NaN,NaN,True,NaN,868,NaN,False,TO_RENOVATE
35,Pentagone (Bruxelles),HOUSE,APARTMENT_BLOCK,1290000.0,5.0,526.000000,NaN,False,NaN,True,16.0,NaN,NaN,105,3,False,NaN
36,Ursel,APARTMENT,APARTMENT,279900.0,2.0,105.000000,NaN,False,NaN,NaN,NaN,NaN,NaN,UNKNOWN,2,False,GOOD
43,Maldegem,HOUSE,HOUSE,270000.0,4.0,195.894535,NaN,NaN,NaN,NaN,NaN,NaN,NaN,755,NaN,False,TO_RENOVATE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19483,Ruiselede,HOUSE,VILLA,645000.0,5.0,320.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1228,NaN,False,NaN
19485,Dendermonde,APARTMENT,APARTMENT,195000.0,2.0,90.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
19490,Antwerp,HOUSE,HOUSE,389000.0,3.0,232.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,74,NaN,False,TO_RENOVATE
19492,Gullegem,HOUSE,HOUSE,139000.0,3.0,126.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,154,2,NaN,TO_BE_DONE_UP
19496,Temse,HOUSE,HOUSE,549000.0,5.0,324.000000,NaN,NaN,NaN,True,30.0,True,290.0,427,3,NaN,GOOD

In [181]:
df['kitchen'].replace(np.nan, 'NOT_DEFINED', inplace=True)

In [182]:
df[df['kitchen'].isna()]

Empty DataFrame
Columns: [locality, property_type, property_subtype, price, number_rooms, living_area, kitchen, furnished, fireplace, terrace, terrace_area, garden, garden_area, surface_land, number_facades, swimming_pool, building_state]
Index: []

In [183]:
sns.histplot(df, x='kitchen')
plt.xticks(rotation=90)

(array([0, 1, 2, 3, 4, 5, 6, 7, 8]),
 [Text(0, 0, 'INSTALLED'),
  Text(1, 0, 'USA_INSTALLED'),
  Text(2, 0, 'SEMI_EQUIPPED'),
  Text(3, 0, 'NOT_INSTALLED'),
  Text(4, 0, 'NOT_DEFINED'),
  Text(5, 0, 'HYPER_EQUIPPED'),
  Text(6, 0, 'USA_HYPER_EQUIPPED'),
  Text(7, 0, 'USA_SEMI_EQUIPPED'),
  Text(8, 0, 'USA_UNINSTALLED')])

### 7. Furnished

In [184]:
analyze_column(df, 'furnished')

Analysis for column 'furnished':
Number of NaN values: 9743
Number of unique values: 2
Percentage of NaN values: 49.97%
Percentage of unique values: 0.01%
Unique values: [nan True False]

In [185]:
# A lot of NaN - can be assume that this NaN mean it is not furnished (I think so - especially Belgium not a lot of houses are sold furnished)
# replacing the NaN values with False
df['furnished'] = df['furnished'].replace(np.nan, False)

# replace the False values with 0 and the True values with 1
df['furnished'].replace(False, 0, inplace=True)
df['furnished'].replace(True, 1, inplace=True)

In [186]:
df[df['furnished'].isna()]

Empty DataFrame
Columns: [locality, property_type, property_subtype, price, number_rooms, living_area, kitchen, furnished, fireplace, terrace, terrace_area, garden, garden_area, surface_land, number_facades, swimming_pool, building_state]
Index: []

In [187]:
create_cat_plot(df, 'furnished', 90)

In [188]:
df['furnished'].unique()

array([0, 1])

### 8. Fireplace

In [189]:
analyze_column(df, 'fireplace')

Analysis for column 'fireplace':
Number of NaN values: 13323
Number of unique values: 8
Percentage of NaN values: 68.33%
Percentage of unique values: 0.04%
Unique values: [-1. nan  1.  2.  3. 10.  6.  4.  5.]

In [190]:
df['fireplace'].unique()

array([-1., nan,  1.,  2.,  3., 10.,  6.,  4.,  5.])

In [191]:
# ASSUMPTION 1: -1 means there is no fireplace
df[df['fireplace'] == -1]

,locality,property_type,property_subtype,price,number_rooms,living_area,kitchen,furnished,fireplace,terrace,terrace_area,garden,garden_area,surface_land,number_facades,swimming_pool,building_state
0,Ham,HOUSE,VILLA,429500.0,4.0,215.0,INSTALLED,0,-1.0,NaN,NaN,True,NaN,1472,4,NaN,GOOD
1,Putte,HOUSE,HOUSE,599000.0,5.0,167.0,INSTALLED,0,-1.0,True,NaN,True,95.0,416,4,NaN,JUST_RENOVATED
2,IVOZ-RAMET,HOUSE,HOUSE,20000.0,3.0,130.0,INSTALLED,0,-1.0,True,NaN,NaN,NaN,182,3,NaN,GOOD
6,Charleroi,HOUSE,APARTMENT_BLOCK,120000.0,3.0,175.0,SEMI_EQUIPPED,0,-1.0,NaN,NaN,NaN,NaN,98,2,NaN,TO_RENOVATE
7,Marchin,HOUSE,HOUSE,129500.0,2.0,90.0,SEMI_EQUIPPED,0,-1.0,True,30.0,True,NaN,275,2,NaN,TO_BE_DONE_UP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19447,Herseaux,HOUSE,HOUSE,150000.0,2.0,89.0,SEMI_EQUIPPED,0,-1.0,True,15.0,True,40.0,111,2,NaN,TO_BE_DONE_UP
19453,MERBES-SAINTE-MARIE,HOUSE,HOUSE,160000.0,3.0,120.0,NOT_INSTALLED,0,-1.0,True,NaN,NaN,NaN,3609,4,NaN,TO_RENOVATE
19463,MESLIN-L'ÉVÊQUE,HOUSE,HOUSE,180000.0,3.0,180.0,NOT_INSTALLED,0,-1.0,NaN,NaN,NaN,NaN,710,NaN,NaN,TO_RENOVATE
19464,TAMINES,HOUSE,HOUSE,185000.0,3.0,127.0,SEMI_EQUIPPED,0,-1.0,True,17.0,True,58.0,245,2,NaN,GOOD
19465,ARSIMONT,HOUSE,HOUSE,185000.0,3.0,220.0,SEMI_EQUIPPED,0,-1.0,True,20.0,True,258.0,520,4,NaN,TO_RENOVATE

In [192]:
# Replace the -1 values with 0
df['fireplace'].replace(-1, 0, inplace=True)

In [193]:
# ASSUMPTION 2 : -1 means there is no fireplace
# Replace the NaN values with 0
df['fireplace'].replace(np.nan, 0, inplace=True)

In [194]:
df['fireplace'].unique()

array([ 0.,  1.,  2.,  3., 10.,  6.,  4.,  5.])

In [195]:
sns.histplot(df, x='fireplace')

In [196]:
create_num_plot(df, 'fireplace')

### 9. Terrace

In [197]:
analyze_column(df, 'terrace')
# Assumption that NaN values are 0 and True values are 1

Analysis for column 'terrace':
Number of NaN values: 6612
Number of unique values: 1
Percentage of NaN values: 33.91%
Percentage of unique values: 0.01%
Unique values: [nan True]

In [198]:
df.replace(np.nan, 0, inplace=True)
df.replace(True, 1, inplace=True)

In [199]:
create_cat_plot(df, 'terrace', 0)

### 10. Terrace Area

In [200]:
analyze_column(df, 'terrace_area')

Analysis for column 'terrace_area':
Number of NaN values: 0
Number of unique values: 175
Percentage of NaN values: 0.00%
Percentage of unique values: 0.90%
Unique values: [0.00e+00 1.20e+01 4.50e+01 3.00e+01 2.00e+01 9.00e+00 2.80e+01 3.20e+01
 8.10e+01 1.00e+01 3.50e+01 6.50e+01 1.60e+01 1.80e+01 1.00e+00 1.50e+01
 2.60e+01 2.70e+01 3.10e+01 2.50e+01 8.50e+01 6.00e+01 2.40e+01 4.00e+00
 7.00e+00 4.00e+01 6.00e+00 4.10e+01 4.40e+01 3.70e+01 5.00e+01 8.00e+02
 1.40e+01 2.20e+01 2.10e+01 6.80e+01 1.60e+02 8.60e+01 5.00e+00 8.00e+00
 4.60e+01 3.40e+01 8.00e+01 5.90e+01 1.40e+02 6.40e+01 4.80e+01 1.02e+02
 1.90e+01 1.20e+02 1.00e+02 1.30e+01 4.90e+01 1.50e+02 2.00e+00 3.80e+01
 3.30e+01 3.96e+02 9.60e+01 4.20e+01 9.20e+01 6.60e+01 6.10e+01 1.10e+01
 1.95e+02 3.00e+00 3.26e+02 1.70e+01 8.90e+01 7.00e+01 1.04e+02 6.20e+01
 2.90e+01 4.95e+02 1.23e+02 5.50e+01 1.11e+02 5.70e+01 4.30e+01 9.00e+01
 1.47e+02 2.30e+01 3.00e+02 3.60e+01 5.60e+01 5.40e+01 5.30e+01 7.20e+01
 2.36e+02 1.10e+02 1.08e+02 8.70e+01 9.30e+01 5.20e+01 7.50e+01 6.70e+01
 4.70e+01 9.80e+01 1.05e+02 1.34e+02 1.22e+02 1.30e+02 6.30e+01 1.62e+03
 3.90e+01 7.90e+01 1.35e+02 7.70e+01 9.50e+01 1.75e+02 5.10e+01 2.13e+02
 3.35e+02 8.40e+01 7.40e+01 2.90e+02 8.20e+01 5.50e+02 5.84e+02 2.00e+02
 1.80e+02 7.80e+01 9.10e+01 1.51e+02 6.63e+02 1.25e+02 1.83e+02 1.15e+02
 1.96e+02 7.60e+01 1.71e+02 5.80e+01 1.45e+02 6.90e+01 1.12e+02 7.30e+01
 2.20e+02 2.35e+02 8.30e+01 2.25e+02 1.61e+02 1.27e+02 7.07e+02 1.07e+02
 2.10e+02 1.03e+02 1.09e+02 1.69e+02 9.90e+01 1.70e+02 9.40e+01 2.40e+02
 1.44e+02 1.17e+02 1.21e+02 1.28e+02 1.13e+02 1.32e+02 1.16e+02 2.53e+02
 1.31e+02 1.29e+02 1.65e+02 1.24e+02 7.10e+01 1.57e+02 1.82e+02 8.80e+01
 4.34e+02 2.73e+02 2.80e+02 1.01e+02 2.26e+02 1.87e+02 4.55e+02]

In [201]:
create_num_plot(df, 'terrace_area')

In [202]:
df.groupby('terrace')['terrace_area'].mean()

terrace
0     0.000000
1    18.007682
Name: terrace_area, dtype: float64

In [203]:
df[df['terrace_area'] == 0.0]

,locality,property_type,property_subtype,price,number_rooms,living_area,kitchen,furnished,fireplace,terrace,terrace_area,garden,garden_area,surface_land,number_facades,swimming_pool,building_state
0,Ham,HOUSE,VILLA,429500.0,4.0,215.000000,INSTALLED,0,0.0,0,0.0,1,0.0,1472,4,0,GOOD
1,Putte,HOUSE,HOUSE,599000.0,5.0,167.000000,INSTALLED,0,0.0,1,0.0,1,95.0,416,4,0,JUST_RENOVATED
2,IVOZ-RAMET,HOUSE,HOUSE,20000.0,3.0,130.000000,INSTALLED,0,0.0,1,0.0,0,0.0,182,3,0,GOOD
4,Liege,HOUSE,HOUSE,109000.0,2.0,62.000000,SEMI_EQUIPPED,0,0.0,0,0.0,0,0.0,45,2,False,TO_BE_DONE_UP
6,Charleroi,HOUSE,APARTMENT_BLOCK,120000.0,3.0,175.000000,SEMI_EQUIPPED,0,0.0,0,0.0,0,0.0,98,2,0,TO_RENOVATE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19493,Molenbeek-Saint-Jean,HOUSE,EXCEPTIONAL_PROPERTY,369000.0,5.0,389.741742,INSTALLED,0,0.0,0,0.0,0,0.0,0,2,False,GOOD
19494,Brecht,HOUSE,HOUSE,375000.0,3.0,195.894535,INSTALLED,0,0.0,0,0.0,1,245.0,712,4,False,GOOD
19495,Hasselt,APARTMENT,APARTMENT,1295000.0,3.0,191.000000,NOT_DEFINED,0,0.0,0,0.0,0,0.0,UNKNOWN,0,0,GOOD
19497,Affligem,HOUSE,HOUSE,485000.0,4.0,265.000000,NOT_DEFINED,0,0.0,0,0.0,0,0.0,228,3,False,GOOD
19498,Antwerp,APARTMENT,APARTMENT,299000.0,1.0,60.000000,HYPER_EQUIPPED,0,0.0,0,0.0,0,0.0,0,0,False,0

### 11. Garden

In [204]:
analyze_column(df, 'garden')

Analysis for column 'garden':
Number of NaN values: 0
Number of unique values: 2
Percentage of NaN values: 0.00%
Percentage of unique values: 0.01%
Unique values: [1 0]

In [205]:
create_cat_plot(df, 'garden', 0)

### 12. Garden Area

In [206]:
analyze_column(df, 'garden_area')

Analysis for column 'garden_area':
Number of NaN values: 0
Number of unique values: 1099
Percentage of NaN values: 0.00%
Percentage of unique values: 5.64%
Unique values: [   0.   95.   80. ... 1458.  534.  432.]

In [207]:
create_num_plot(df, 'garden_area')

### 13. Surface of the Land

In [208]:
analyze_column(df, 'surface_land')

Analysis for column 'surface_land':
Number of NaN values: 0
Number of unique values: 2677
Percentage of NaN values: 0.00%
Percentage of unique values: 13.73%
Unique values: ['1472' '416' '182' ... '2377' '3609' '1033']

In [209]:
df['surface_land'].replace('UNKNOWN', -1, inplace=True)

In [210]:
analyze_column(df, 'surface_land')

Analysis for column 'surface_land':
Number of NaN values: 0
Number of unique values: 2677
Percentage of NaN values: 0.00%
Percentage of unique values: 13.73%
Unique values: ['1472' '416' '182' ... '2377' '3609' '1033']

In [211]:
df['surface_land'] = df['surface_land'].astype(int)

In [212]:
df['surface_land']

0        1472
1         416
2         182
3         221
4          45
         ...
19494     712
19495      -1
19496     427
19497     228
19498       0
Name: surface_land, Length: 19499, dtype: int64

In [213]:
# change the '-1' (first to np.nan) to the mean_value of surface_land grouped by property_subtype
df['surface_land'].replace(-1, np.nan, inplace=True)
mean_surface_land = df.groupby('property_subtype')['surface_land'].transform('mean')
filled_surface_land = df.groupby('property_subtype')['surface_land'].fillna(mean_surface_land)
df['surface_land'] = filled_surface_land

In [214]:
df['surface_land']

0        1472.0
1         416.0
2         182.0
3         221.0
4          45.0
          ...
19494     712.0
19495       0.0
19496     427.0
19497     228.0
19498       0.0
Name: surface_land, Length: 19499, dtype: float64

### 14. Number of Facades

In [215]:
analyze_column(df, 'number_facades')

Analysis for column 'number_facades':
Number of NaN values: 0
Number of unique values: 10
Percentage of NaN values: 0.00%
Percentage of unique values: 0.05%
Unique values: ['4' '3' '2' 0 'UNKNOWN' '1' '6' '26' '5' '14']

In [216]:
df['number_facades'].replace('UNKNOWN', -1, inplace=True)

In [217]:
df[df['number_facades'].isnull()]

Empty DataFrame
Columns: [locality, property_type, property_subtype, price, number_rooms, living_area, kitchen, furnished, fireplace, terrace, terrace_area, garden, garden_area, surface_land, number_facades, swimming_pool, building_state]
Index: []

In [218]:
df['number_facades'] = df['number_facades'].astype(int)

In [219]:
# check if any strings in the column
unique_values = df['number_facades'].unique()
string_values = [value for value in unique_values if isinstance(value, str)]

In [220]:
df['number_facades'].replace(-1, np.nan, inplace=True)

mean_facades = df.groupby('property_subtype')['number_facades'].transform('mean')
filled_facades = df.groupby('property_subtype')['number_facades'].fillna(round(mean_facades))
df['number_facades'] = filled_facades

In [221]:
df['number_facades'].unique()

array([ 4.,  3.,  2.,  0.,  1.,  6., 26.,  5., 14.])

In [222]:
sns.scatterplot(df, x='number_facades', y='price')

### 15. Swimming Pool

In [223]:
analyze_column(df, 'swimming_pool')

Analysis for column 'swimming_pool':
Number of NaN values: 0
Number of unique values: 2
Percentage of NaN values: 0.00%
Percentage of unique values: 0.01%
Unique values: [0 1]

In [224]:
# change False and True to 0 and 1
df['swimming_pool'].replace(False, 0, inplace=True)
df['swimming_pool'].replace(True, 1, inplace=True)

In [225]:
create_cat_plot(df, 'swimming_pool', 0)

In [226]:
df['swimming_pool'].unique()

array([0, 1])

### 16. Building State

In [227]:
analyze_column(df, 'building_state')

Analysis for column 'building_state':
Number of NaN values: 0
Number of unique values: 8
Percentage of NaN values: 0.00%
Percentage of unique values: 0.04%
Unique values: ['GOOD' 'JUST_RENOVATED' 'TO_BE_DONE_UP' 'TO_RENOVATE' 'AS_NEW' 0
 'UNKNOWN' 'TO_RESTORE']

In [228]:
create_cat_plot(df, 'building_state', 90)

In [229]:
df[df['building_state'] == 'UNKNOWN']

,locality,property_type,property_subtype,price,number_rooms,living_area,kitchen,furnished,fireplace,terrace,terrace_area,garden,garden_area,surface_land,number_facades,swimming_pool,building_state
91,Brugge,APARTMENT,APARTMENT,273900.0,2.0,99.713227,NOT_DEFINED,0,0.0,1,0.0,0,0.0,0.0,1.0,0,UNKNOWN
96,Namur,APARTMENT,FLAT_STUDIO,85000.0,0.0,22.000000,SEMI_EQUIPPED,0,0.0,0,0.0,0,0.0,0.0,1.0,0,UNKNOWN
148,Hasselt,HOUSE,EXCEPTIONAL_PROPERTY,524900.0,3.0,281.000000,INSTALLED,0,0.0,1,0.0,0,0.0,220.0,3.0,0,UNKNOWN
154,Vurste,HOUSE,HOUSE,445000.0,5.0,185.000000,NOT_DEFINED,0,0.0,0,0.0,1,0.0,235.0,2.0,0,UNKNOWN
155,Vurste,HOUSE,HOUSE,375000.0,5.0,185.000000,NOT_DEFINED,0,0.0,1,0.0,0,0.0,235.0,2.0,0,UNKNOWN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19248,Lede,APARTMENT,APARTMENT,225000.0,2.0,90.000000,NOT_DEFINED,0,0.0,1,0.0,0,0.0,0.0,1.0,0,UNKNOWN
19287,Liège,HOUSE,HOUSE,445000.0,6.0,300.000000,NOT_INSTALLED,0,0.0,0,0.0,0,0.0,0.0,2.0,0,UNKNOWN
19425,Mouscron,HOUSE,HOUSE,149000.0,2.0,107.000000,NOT_DEFINED,0,0.0,0,0.0,0,0.0,0.0,2.0,0,UNKNOWN
19471,Merelbeke,HOUSE,HOUSE,559000.0,3.0,213.000000,NOT_DEFINED,0,0.0,1,0.0,1,0.0,280.0,2.0,0,UNKNOWN
19472,Merelbeke,HOUSE,HOUSE,589000.0,3.0,213.000000,NOT_DEFINED,0,0.0,1,0.0,1,0.0,400.0,2.0,0,UNKNOWN

In [230]:
df['building_state'].replace(0, 'UNKNOWN', inplace=True)

In [231]:
df['building_state'].unique()

array(['GOOD', 'JUST_RENOVATED', 'TO_BE_DONE_UP', 'TO_RENOVATE', 'AS_NEW',
       'UNKNOWN', 'TO_RESTORE'], dtype=object)

In [232]:
create_cat_plot(df, 'building_state', 90)

In [233]:
#write to csv
df.drop_duplicates(inplace=True)
df.reset_index(inplace=True, drop=True)
df.to_csv('cleaned.csv')

In [234]:
df

,locality,property_type,property_subtype,price,number_rooms,living_area,kitchen,furnished,fireplace,terrace,terrace_area,garden,garden_area,surface_land,number_facades,swimming_pool,building_state
0,Ham,HOUSE,VILLA,429500.0,4.0,215.000000,INSTALLED,0,0.0,0,0.0,1,0.0,1472.0,4.0,0,GOOD
1,Putte,HOUSE,HOUSE,599000.0,5.0,167.000000,INSTALLED,0,0.0,1,0.0,1,95.0,416.0,4.0,0,JUST_RENOVATED
2,IVOZ-RAMET,HOUSE,HOUSE,20000.0,3.0,130.000000,INSTALLED,0,0.0,1,0.0,0,0.0,182.0,3.0,0,GOOD
3,Herstal,HOUSE,HOUSE,45000.0,2.0,120.000000,USA_INSTALLED,1,0.0,1,12.0,1,80.0,221.0,2.0,0,TO_BE_DONE_UP
4,Liege,HOUSE,HOUSE,109000.0,2.0,62.000000,SEMI_EQUIPPED,0,0.0,0,0.0,0,0.0,45.0,2.0,0,TO_BE_DONE_UP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17121,Molenbeek-Saint-Jean,HOUSE,EXCEPTIONAL_PROPERTY,369000.0,5.0,389.741742,INSTALLED,0,0.0,0,0.0,0,0.0,0.0,2.0,0,GOOD
17122,Brecht,HOUSE,HOUSE,375000.0,3.0,195.894535,INSTALLED,0,0.0,0,0.0,1,245.0,712.0,4.0,0,GOOD
17123,Hasselt,APARTMENT,APARTMENT,1295000.0,3.0,191.000000,NOT_DEFINED,0,0.0,0,0.0,0,0.0,0.0,0.0,0,GOOD
17124,Temse,HOUSE,HOUSE,549000.0,5.0,324.000000,NOT_DEFINED,0,0.0,1,30.0,1,290.0,427.0,3.0,0,GOOD
17125,Antwerp,APARTMENT,APARTMENT,299000.0,1.0,60.000000,HYPER_EQUIPPED,0,0.0,0,0.0,0,0.0,0.0,0.0,0,UNKNOWN